@import 'reset';
@import 'fonts';
@import 'mq';

body {
  background-color: #ffffff;
  padding-bottom: 120px;
  font-size: 18px;
  font-family: 'Guardian Text Egyptian Web', 'Guardian Egyptian Web';
}

// nav {
//   font-family: 'Guardian Text Sans Web', 'Guardian Sans Web';
//   width: 220px;
//   position: fixed;
//   top: 24px;
//   transform: translateX(calc(-100% - 20px));
//   font-size: 16px;
//   ul {
//     padding: 3px 0 0;
//     li {
//       line-height: 24px;
//     }
//   }
// }

section {
    h2 {
        font-weight: 200;
        font-family: "Guardian Egyptian Web";
        margin-top: 12px;
        margin-bottom: 24px;
        font-size: 72px;
        font-weight: 100;
        padding: 12px;
    }

    .slide {
      height: 67vh;
      &.intro {
        height: 100vh;
        border-top: 2px solid #005689;
      }
      .text {
        width: 50vw;
        p {
          font-size: 24px;
          line-height: 26px;
          font-family: 'Guardian Egyptian Web';
          font-weight: 400;
          color: #333;
          padding: 12px;
        }
      }
      .image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50vw;
        height: 100vh;
        background-color: #EFEFEC;
        visibility: hidden;
        opacity: 0;
        transition: opacity 400ms;
      }
      &.on {
        .image {
          visibility: visible;
          opacity: 1;
        }
      }
    }
}


.gud-style__header {
    background-color: #f6f6f6;
    height: 100vh;
    position: relative;

    .gud-style__intro {
        position: absolute;
        bottom: 50px;
        width: 100%;
    }

    h1 {
        width: 380px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Guardian Egyptian Web";
        font-size: 22px;
        line-height: 26px;
        font-weight: 200;
    }
}
