<!DOCTYPE html>
<html>
<head>
  <link href="style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Guardian digital design style guide</title>
  <link rel="apple-touch-icon" sizes="152x152" href="https://assets.guim.co.uk/images/favicons/ac43fe9507600081b58760450f518d07/152x152.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://assets.guim.co.uk/images/favicons/9105519994f075e63637de997e08c770/144x144.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://assets.guim.co.uk/images/favicons/462584b4647d63f9b12063d513aad3e1/120x120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://assets.guim.co.uk/images/favicons/23d6bd123831949d7e1881ceb2d66443/114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://assets.guim.co.uk/images/favicons/dac5b94fa151d4ebce54d133b64c3e2c/72x72.png">
  <link rel="apple-touch-icon-precomposed" href="https://assets.guim.co.uk/images/favicons/8dc6215c5b2a6b73ac10557dc0cf052d/57x57.png">
  <link rel="shortcut icon" type="image/png" href="https://assets.guim.co.uk/images/favicons/48bc5564bb01b74cf7cd1a08ae0dd98e/32x32.ico">
</head>
<body>
