body {
  background-color: #f6f6f6;
}

nav {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

main {
  width: 620px;
  display: inline-block;
}

.something {
    color: #005689;
}
